WService/WebContent/wsdl/UserServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.iwinner.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.iwinner.com" xmlns:intf="http://service.ws.iwinner.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.iwinner.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUserInfo">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInfoResponse">
    <complexType>
     <sequence>
      <element name="getUserInfoReturn" type="impl:UserInfoDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UserInfoDTO">
    <sequence>
     <element name="createDate" nillable="true" type="xsd:string"/>
     <element name="editDate" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserInfoResponse">

      <wsdl:part element="impl:getUserInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfoRequest">

      <wsdl:part element="impl:getUserInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserServiceImpl">

      <wsdl:operation name="getUserInfo">

         <wsdl:input message="impl:getUserInfoRequest" name="getUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInfoResponse" name="getUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceImplSoapBinding" type="impl:UserServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceImplService">

      <wsdl:port binding="impl:UserServiceImplSoapBinding" name="UserServiceImpl">

         <wsdlsoap:address location="http://localhost:3636/WService/services/UserServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
